NEXT_PUBLIC_VNDBIMG_URI=https://t.vndb.org # VNDB 图床，可于 https://vndb.org/d14#6 获取副本
AUTH_TRUST_HOST=true # 是否信任所有主机
AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev
DATABASE_URL="mongodb://127.0.0.1:27017/vndbdata?replicaSet=rs0" # mongoDB 数据库地址
NEXTAUTH_URL=https://galrc.eu.org # Site 地址